body {
    background-image: url("./images/fireworks.jpg");
    background-size: cover;
}

h1 {
    color : white;
}

span {
    color : white;
    display: inline-block;
}


section {
    margin-top : 100px;
    text-align: center;
    width : 70vw;
    height: 70vh;
    margin : 0 auto;
}